@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dotted-grid {
  background-color: var(
    --background
  ); /* Change to your desired background color */
  background-image: radial-gradient(
    circle,
    rgba(121, 121, 121, 0.5) 1px,
    transparent 1px
  );
  background-size: 20px 20px; /* Adjust the size of the dots */
  height: 100vh; /* Full height */
  width: 100vw; /* Full width */
}

.block {
  @apply bg-white border border-gray-300 rounded-lg shadow-md p-4;
  width: initlal;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #584949;
  border-radius: 5px;
  outline: none;
}
input[type="text"] {
  @apply bg-white border border-gray-300 rounded-lg p-2;
  width: 100%;
}
